
@media only screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }
    #left_box {
        width: 100%;
        height: 100vh;
    }
    #right_box {
        width: 100%;
        height: 100vh;
    }

    #false_nav_list {
        visibility: visible;
    }

    #nav_list {
        position: fixed;
        width: 100vw;
    }






}
